#rd-box-joq3m2vv{
  display:none;
}
#rd-section-joq3m2vm{
  display:none;
}
* {
box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;900&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;900&display=swap');
body {
  max-width: 1440px;
  margin: auto;
padding: 0;
font-family: 'Nunito', sans-serif;
font-weight: 400;
}
.container-header{
  position: fixed;
  max-width: 1440px;
z-index: 1;
width: 100%;
margin-bottom: 300px;
}
  .nav-title a{
      text-decoration: none;
      color: #06bbcc;
      font-weight: 600;
  }

.nav {
width: 100%;
background-color: #ffffff;
position: relative;
box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.nav > .nav-header {
display: inline;
font-family: 'Nunito', sans-serif;
}

.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 30px;
color: #06bbcc;
padding: 20px 20px;

}

.nav > .nav-btn {
display: none;
}

.nav > .nav-links {
display: inline;
float: right;
font-weight: 500;
font-size: 15px;
}
.nav > .nav-links > a:nth-child(2){
  color: #06bbcc;
}
.nav > .nav-links > a:nth-child(5){
  color: white;
  margin-right: 0;
  padding: 31px 41px;
  background-color: #06bbcc;
}
.nav > .nav-links > a:nth-child(5):hover{
  color: white;
  background-color: #029fad;
  transition: 0.5s ease;
}
.nav > .nav-links > a {
display: inline-block;
padding: 20px 0px;
margin-right: 30px;
text-decoration: none;
color: #000000;
}

.nav > .nav-links > a:hover {
color: #06bbcc;
transition:0.2s ease-out;
}

.nav > #nav-check {
display: none;
}

@media (max-width:930px) {
.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 0px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}
.nav > .nav-links > a:nth-child(2){
  color: #06bbcc;
} 
.nav > .nav-links > a:nth-child(5){
  color: rgb(0, 0, 0);
  margin-right: 0;
  padding: 10px 20px;
  background-color: white;
}
.nav > .nav-links > a:nth-child(5):hover{
color: #06bbcc;
margin-right: 0;
padding: 10px 20px;
background-color: white;
}
.nav > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
  background-color: #06bbcc;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.nav > .nav-links {
  display: block;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  margin-bottom: 30px;
  width: 100%;
  background-color: #ffffff;
  color: black;
  height: 0px;
  transition: all 0.5s ease-in;
  overflow-y: hidden;
  left: 0px;
}
.nav > .nav-links > a {
  display: block;
  width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  /* height: calc(100vh - 50px); */
  height: calc(300px - 50px);
  overflow-y: auto;

}
}


.Orientacoes{
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
margin-top: 100px;
}
.Orientacoes a{
  text-decoration: none;
  color: #029fad;
}
.Orientacoes a:hover{
  color: #001eff;
  transition: 0.5s;
}
.Orientacoes p{
color: #000000;
}
.Orientacoes h1{
margin: 0;
margin-top: 50px;


}
/* Motor de busca */
/* Motor de busca */
/* Motor de busca */
/* Motor de busca */
/* Motor de busca */

.image-item h3{
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  text-align: center;
  color: black;
}
.image-item a{
  text-decoration: none;
}

body{max-width: 1440px;
margin:auto ;}
input[type="text"] {
  padding: 1em 1.8em;
  width: 50%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
 }
 
 button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
 }
 
 button span {
  position: absolute;
 }
 
 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 button:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }
 

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-item {
  width: 200px;
  height: 300px;

}
.image-item img {
  width: 100%;

}
.Espaco-button-input{
text-align: center;
margin-top: 0px;
}


@media (max-width:550px){
  .nav > .nav-header > .nav-title{
    font-size: 17px;
  }

}
@media (max-width:450px){

  .image-item{
    width: 150px;
    height: 250px;
  }

}